:host {
  flex-grow: 1;
  overflow-x: auto;
}

.cid-button-secondary {
  background-color: var(--vscode-button-secondaryBackground);
}

.cid-rete-background {
  background-color: #1e1e1e;

  @apply h-full w-full;
  background: linear-gradient(to top, rgb(228, 228, 228) 0%, rgb(255, 255, 255) 100%);

  &.readonly {
    content: "";
    padding: 5px;
    background: repeating-linear-gradient(45deg,
        var(--vscode-editor-background),
        var(--vscode-editor-background) 10px,
        #465298 10px,
        #465298 20px);
  }
}

.cid-rete {
  @apply h-full w-full;
  @apply bg-rete-light dark:bg-rete-dark;

  background-color: #1e1e1e;

  background-position: -1.5px -1.5px,
    -1.5px -1.5px,
    -1px -1px,
    -1px -1px;
  background-size: 20px 20px,
    100px 100px,
    100px 100px;
}